/* Meals.css */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  position: relative;
  display: flex;
  width: 340px;
  height: 200px;
  justify-content: space-between;
  margin-left: 20px;
}

.meal {
  position: absolute;
  width: 150px;
  height: 200px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.meal.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.meal.prev {
  transform: translateX(-90px) scale(0.7);
  opacity: 0.5;
  z-index: 1;
}

.meal.next {
  transform: translateX(110px) scale(0.7);
  opacity: 0.5; /* Lower opacity for the next meal */
  z-index: 1; /* Put the next meal in the background */
}

.meal-image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
